@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-200: hsl(40, 9%, 7%);
  --primary-300: hsl(0, 0%, 11%);
  --primary-400: hsl(0, 0%, 27%);
  --primary-600: hsl(0, 0%, 64%);
  --primary-700: hsl(0, 0%, 79%);
  --neutral-400: hsl(0, 0%, 100%);
}

.family-mono {
  font-family: var(--font-geist-mono);
}

body {
  background-color: var(--primary-200);
  color: var(--neutral-400);
}

.name-styled-text {
  filter: grayscale(1);
  background: linear-gradient(
      227deg,
      hsl(267deg 100% 7%) 0%,
      hsl(320deg 83% 29%) 14%,
      hsl(25deg 68% 54%) 29%,
      hsl(124deg 74% 81%) 43%,
      hsl(190deg 64% 80%) 57%,
      hsl(223deg 54% 52%) 71%,
      hsl(233deg 65% 28%) 86%,
      hsl(236deg 70% 4%) 100%
    )
    text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
  transition: all 0.4s cubic-bezier(1, 0, 0, 1);
}

.name-styled-text:hover {
  filter: grayscale(0);
}

.styled-text {
  font-weight: bold;
  background: linear-gradient(180deg, #ffffff, #adadad) text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.2em;
  margin-bottom: -0.2em;
}

.box {
  border: 1px solid var(--primary-400);
  border-radius: 4px;
}

.homepage-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "name name bio bio"
    "njz time time languages";
  color: var(--primary-700);
}

.homepage-grid > * {
  border: 1px solid var(--primary-400);
  border-radius: 8px;
}

.homepage-grid-name {
  grid-area: name;
  text-align: center;
  padding-block: 48px;
  border-radius: 0;
  border-top-left-radius: 8px;
}

.homepage-grid-bio {
  grid-area: bio;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 32px;
  border-radius: 0;
  border-top-right-radius: 8px;
  border: inherit inherit inherit 0;
}

.homepage-grid-njz {
  grid-area: njz;
  border-radius: 0;
  border-bottom-left-radius: 8px;
  border: 0 inherit inherit inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 32px;
}

.homepage-grid-njz img {
  filter: grayscale(1);
  transition: all 0.4s cubic-bezier(1, 0, 0, 1);
}

.homepage-grid-njz img:hover {
  filter: grayscale(0);
}

.homepage-grid-time {
  grid-area: time;
  border-radius: 0;
  border: 0 inherit inherit inherit;
  border: inherit inherit inherit 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-grid-languages {
  grid-area: languages;
  border-radius: 0;
  border-bottom-right-radius: 8px;
  border: 0 inherit inherit inherit;
  border: inherit inherit inherit 0;
}

/* Tailwind Medium Size */
@media (max-width: 768px) {
  .homepage-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "name name"
      "bio bio"
      "time time"
      "languages njz";
    padding-inline: 16px;
  }

  .homepage-grid-bio,
  .homepage-grid-time,
  .homepage-grid-languages,
  .homepage-grid-njz {
    border-radius: 0;
    border-top: 0;
  }

  .homepage-grid-name {
    border-top-right-radius: 8px;
  }

  .homepage-grid-languages {
    border-bottom-left-radius: 8px;
  }

  .homepage-grid-njz {
    border-left: 0;
    border-bottom-right-radius: 8px;
  }

  .homepage-grid-bio {
    padding: 16px;
    text-align: center;
  }

  .homepage-grid-time {
    padding: 32px 16px;
  }
}
